.containeer:hover .imgHover {
  transform: scale(1.3);
}

.containeer {
  overflow: hidden;
}

.containeer.imgHover {
  transition: transform 0.35s;
}

@media screen and (max-width: 480px) {
  .card {
    margin-top: 15px !important;
  }
}
