.HeaderText{
    cursor: pointer;
}
.HeaderText:hover{
    animation: bounce 1s linear;
}
@keyframes bounce{
    20%,50%,80%,to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    70%{
        transform: translateY(-15px);
    }
    90%{
        transform: translateY(-4px);
    }
}

@media screen and (max-width:480px) {
    .HeaderText h5{
        font-size: x-small !important;
    }
    .HeaderText h1{
        font-size: large !important;
    }
    .HeaderText button{
       margin: 0px !important;
    }
  }
