form {
  width: 100%;
}
form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #f0f0f0;
}

.add-product-card {
  width: 50%;
}

@media (max-width: 768px) {
  .add-product-card {
    width: 100%;
  }
}
